<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="chats" name="Charts" schema="schema/chats.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.chart"
            name="Chart"/>
      <view
            category="net.bioclipse.chart"
            class="net.bioclipse.plugins.views.ChartView"
            icon="icons/chart.jpg"
            id="net.bioclipse.plugins.views.ChartView"
            name="Chart"/>
   </extension>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="bioclipse.chart.ui.business.ChartManager"
            service="net.bioclipse.chart.ui.business.ChartManagerFactory">
      </scriptContribution>
   </extension>
  
</plugin>
