<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="chats" name="Charts" schema="schema/chats.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.chart"
            name="Chart"/>
      <view
            category="net.bioclipse.chart"
            class="net.bioclipse.plugins.views.ChartView"
            icon="icons/chart.jpg"
            id="net.bioclipse.plugins.views.ChartView"
            name="Chart"/>
   </extension>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="bioclipse.chart.ui.business.ChartManager"
            service="net.bioclipse.chart.ui.business.ChartManagerFactory">
      </scriptContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bioclipse.chart.ui.business.ChartFromSDF"
            id="net.bioclipse.chart.ui.chartFromSDF"
            name="To chart">
      </command>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.bioclipse.cdk.ui.sdfeditor.menu?before=additions">
         <command
               commandId="net.bioclipse.chart.ui.chartFromSDF"
               label="Plot column"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.bioclipse.cdk.ui.sdfeditor.column.menu?after=additions">
         <command
               commandId="net.bioclipse.chart.ui.chartFromSDF"
               label="Plot column"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <!--extension
         point="net.bioclipse.bioclipseResources">
    <itemType
          class="net.bioclipse.model.type.EmptyResourceFactory"
          fileExtension="EMPTY"
          icon="icons/sample.gif"
          id="bioclipse.EmptyResource"
          level="1"
          name="CDK Resource"
          targetClass="java.io.File"/>
   </extension-->
</plugin>
