<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="matrixImplementation" name="matrixImplementation" schema="schema/matrixImplementation.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.statistics"
            name="Statistics"/>
      <!--view
            category="net.bioclipse.statistics"
            class="net.bioclipse.plugins.views.EmptyView"
            icon=""
            id="net.bioclipse.plugins.views.EmptyView"
            name="Empty View"/-->
   </extension>
   <!--extension
         point="net.bioclipse.bioclipseResources">
      <itemType
            class="net.bioclipse.model.type.MatrixResourceFactory"
            fileExtension="jam,csv"
            icon="icons/spreadsheet2.png"
            id="net.bioclipse.statistics.MatrixResource"
            level="1"
            name="Matrix Resource"
            targetClass="java.io.File"/>
   </extension-->
   <!--extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.editors.MatrixEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jam"
            icon="icons/spreadsheet.png"
            id="net.bioclipse.editors.MatrixEditor"
            name="Matrix Editor"/>
   </extension-->

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.statistics.editors.MatrixEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/spreadsheet2.png"
            id="net.bioclipse.editors.MatrixGridEditor"
            name="Matrix Editor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.csv">
         </contentTypeBinding>
     </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="jam,csv"
            id="net.bioclipse.contenttypes.csv"
            name="Comma Separated Values"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="net.bioclipse.ui.bioobjectDescriber">
      <BioObject
            describer="net.bioclipse.statistics.describer.MatrixResourceDescriber"
            id="net.bioclipse.statistics.describer"
            objectClass="net.bioclipse.statistics.model.IMatrixResource">
      </BioObject>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="net.bioclipse.statistics.matrixEditorContribution"
            targetID="net.bioclipse.editors.MatrixGridEditor">
         <action
               class="net.bioclipse.statistics.RowHeaderDelegate"
               icon="icons/RowHeader.gif"
               id="net.bioclipse.statistics.rowHeaderAction"
               label="Row header"
               style="toggle"
               toolbarPath="IWorkbenchActionConstants.MB_ADDITIONS"
               tooltip="Add / remove row headers">
         </action>
         <action
               class="net.bioclipse.statistics.ColHeaderDelegate"
               icon="icons/ColHeader.gif"
               id="net.bioclipse.statistics.colHeaderAction"
               label="Column header"
               style="toggle"
               toolbarPath="IWorkbenchActionConstants.MB_ADDITIONS"
               tooltip="Add / remove column headers">
         </action>
      </editorContribution>
   </extension>

</plugin>
