<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.r.business.RBusinessManagerFactory"
            id="net.bioclipse.r.business.RBusinessManager">
      </scriptContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.r.business.RPreferencePage"
            id="net.bioclipse.r.business.r.prefs"
            name="R">
      </page>
   </extension>

</plugin>
