<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.bioclipse.ui.r_provider">
      <rContribution id="net.bioclipse.r.TextR"
                     service="net.bioclipse.r.TextRFactory" />
   </extension>
   
   <extension
         point="org.eclipse.ui.views">

      <view
         name="R Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.r.ui.views.RConsoleView"
         id="net.bioclipse.r.ui.views.RConsoleView">
         <description>
            R Console View
         </description>
      </view>
   </extension>

</plugin>
